---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=content&titles=service-oriented%20architecture
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=38534 t=1508665770233824
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 35.201.173.36
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"service-oriented
        architecture","to":"Service-oriented architecture"}],"pages":{"666924":{"pageid":666924,"ns":0,"title":"Service-oriented
        architecture","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Use
        mdy dates|date=April 2015}}\nA ''''''service-oriented architecture'''''' (''''''SOA'''''')
        is a style of software design where services are provided to the other components
        by [[application components]], through a [[Communications protocol|communication
        protocol]] over a network. The basic principles of service-oriented architecture
        are independent of vendors, products and technologies.<ref>{{Cite web|url=https://msdn.microsoft.com/en-us/library/bb833022.aspx|title=Chapter
        1: Service Oriented Architecture (SOA)|website=msdn.microsoft.com|access-date=2016-09-21}}</ref>\nA
        service is a discrete unit of functionality that can be accessed remotely
        and acted upon and updated independently, such as retrieving a credit card
        statement online.\n\nA service has four properties according to one of many
        definitions of SOA:<ref>http://www.opengroup.org/standards/soa</ref>\n# It
        logically represents a business activity with a specified outcome.\n# It is
        self-contained.\n# It is a [[black box]] for its consumers.\n# It may consist
        of other underlying services.<ref>{{Cite web|url=http://www.opengroup.org/soa/source-book/soa/soa.htm|title=What
        Is SOA?|website=www.opengroup.org|access-date=2016-09-21}}</ref>\n\nDifferent
        services can be used in conjunction to provide the functionality of a large
        [[Software applications|software application]].<ref>{{Cite book|title=Cloud
        Computing: A Practical Approach|last=Velte|first=Anthony T.|publisher=McGraw
        Hill|year=2010|isbn=978-0-07-162694-1|location=|pages=|via=}}</ref> So far,
        the definition could be a definition of modular programming in the 1970s.
        Service-oriented architecture is less about how to modularize an application,
        and more about how to compose an application by integration of distributed,
        separately-maintained and deployed software components. It is enabled by technologies
   [...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=content&titles=Service-oriented%20architecture
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=34060 t=1508690922230851
      X-Analyti[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=content&titles=dfhsjlk
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=38757 t=1508690923096528
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 35.201.173.36
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"dfhsjlk","to":"Dfhsjlk"}],"pages":{"-1":{"ns":0,"title":"Dfhsjlk","missing":""}}}}'
  recorded_at: Sun, 22 Oct 2017 16:48:43 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=content&titles=dfhsjlk?
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=39314 t=1508691097775960
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 35.201.173.36
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"dfhsjlk?","to":"Dfhsjlk?"}],"pages":{"-1":{"ns":0,"title":"Dfhsjlk?","missing":""}}}}'
  recorded_at: Sun, 22 Oct 2017 16:51:37 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=content&titles=sdcghjkl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=53198 t=1508691544089335
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 35.201.173.36
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"sdcghjkl","to":"Sdcghjkl"}],"pages":{"-1":{"ns":0,"title":"Sdcghjkl","missing":""}}}}'
  recorded_at: Sun, 22 Oct 2017 16:59:04 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=content&titles=sdcghjkl/ppp
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=36114 t=1508691577922302
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 35.201.173.36
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"sdcghjkl/ppp","to":"Sdcghjkl/ppp"}],"pages":{"-1":{"ns":0,"title":"Sdcghjkl/ppp","missing":""}}}}'
  recorded_at: Sun, 22 Oct 2017 16:59:38 GMT
recorded_with: VCR 3.0.3
